.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS
.quarto
/.quarto/
archive_lectures
.DS_store
.RProj

# Ignore PowerPoint presentations
*.pptx
*.ppt
*.pptm

# Ignore temporary Microsoft Office lock files
~$*.pptx
~$*.ppt
~$*.pptm
slides/lecture2_oscer_bash.pptx
docs/slides/INBRE_introclass2026-1.pdf
slides/lecture2_oscer_bash.pptx
slides/lecture3_rnaseq_1.pptx
